body{
    margin: 0;
}

nav ul{
    list-style: none;
    justify-content: end;
    margin: 0;
    padding: 20px;
    display: flex;
    background-color: #273446;
}

nav ul a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

nav ul li{
    padding: 20px;
}

.leve{
    display: flex;
    padding: 150px;
}

.imagem{
    width: 50%;
}

.imagem img{
    padding: 20px 0px 0px 190px;
}

.sobre_mim{
    width: 50%;
}

.sobre_mim h2{
    color: #bbbb;
    font-size: 30px;
}

.sobre_mim p{
    font-size: 25px;
    padding-top: 40px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.medio{
    max-width: 900px;
    height: 400px;
    margin: 20px auto;
}

.pesado{
   margin: 100px;
}
